@model MvcApplication1.Models.ValidationMaxRemoteModel

<h2>Remote attribútum próba</h2>
@Html.ValidationSummary(true)
<br />
@using (Html.BeginForm("RemoteName", "Validations", new { id = Model.Id }, FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id) 
    @Html.LabelFor(m => m.FullName) @Html.TextBoxFor(m => m.FullName) 
    <br />@Html.ValidationMessageFor(m=>m.FullName)
    <br />
    @Html.LabelFor(m => m.Address) @Html.TextBoxFor(m => m.Address) 
    <br />@Html.ValidationMessageFor(m=>m.Address)
    <br />
    <input type="submit" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}