@model MvcApplication1.Controllers.Files.FileModel
<tr>
    <td>
        @Html.DisplayFor(model => model.FileName)
        @Html.HiddenFor(model => model.Id)
    </td>
    <td>
        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </td>
    <td>
        @Html.DisplayFor(model => model.Length)
    </td>
    <td>
        @Html.DisplayFor(model => model.MIME)
    </td>
</tr>
