@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>
        @Html.ActionLink("Nyers Html", "Hraw")
    </li>
    <li>
        @Html.ActionLink("Action link", "Hlink")
    </li>
    <li>
        @Html.ActionLink("Űrlapok", "Hform")
    </li>
    <li>
        @Html.ActionLink("Egyszerű beviteli mezők", "Hinput")
    </li>
    <li>
        @Html.ActionLink("Feliratok", "Hlabel")
    </li>
    <li>
        @Html.ActionLink("Listák és rádió gombok", "Hlist")
    </li>
    <li>
        @Html.ActionLink("Legördülők", "Hcombo")
    </li>
    <li>
        @Html.ActionLink("Validációs megjelenítők", "Hvalid")
    </li>
    <li>
        @Html.ActionLink("Névütközések", "HnameCollision")
    </li>
    <li>
        @Html.ActionLink("Html5 textbox háttérszöveggel", "HHtml5Textbox")
    </li>
</ul>
