@model MvcApplication1.Models.TemplateDemoModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TemplateDemoModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FullName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalSum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalSum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastPurchaseDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastPurchaseDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VIP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VIP)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
