@model MvcApplication1.Models.TemplateDemoModel
@{Layout = null;}

<fieldset>
    <legend>TemplateDemoModel</legend>
    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.FullName)
            </td>
            <td>
                @Html.DisplayFor(model => model.FullName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Address)
            </td>
            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.TotalSum)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalSum)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.LastPurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.LastPurchaseDate)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.VIP)
            </td>
            <td>
                @Html.DisplayFor(model => model.VIP)
            </td>
        </tr>
    </table>
</fieldset>
