@model IEnumerable<MvcApplication1.Models.TemplateDemoModel>
<link type="text/css" href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<style type="text/css">
    .selector.ui-icon { border: medium dotted #ddd;}
    .selector.ui-icon:hover {border: medium dotted red;}
    .selector.selected { border: medium solid red; }

    #detaillist {margin-top: 10px;}
    table {width: 100%;}
    th {border-bottom: 2px solid;}
    td {border: 1px solid #ddd; }
    td:first-child { border-left:none;} 
    td:last-child { border-right:none;}
    .tablecol1 {width: 55px;}
    .tablecol2,.tablecol3 {width: 350px;}

</style>

@{
var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "updatablelist",
        LoadingElementId = "betoltes",
        OnComplete = "AttachToSelectorClick",
        OnFailure = "SetError",
        OnBegin = "ClearErrors",
    };
}

<h2>Ügyfelek listája (@DateTime.Now.ToString("yyyy.MM.dd hh:mm:ss.fff"))</h2>


@using (Ajax.BeginForm("IndexListPartial", null,ajaxOptions,new {id = "adfrom"}))
{
    <table class="ui-tabs">
        <colgroup>
            <col class="tablecol1" />
            <col class="tablecol2" />
            <col class="tablecol3" />
            <col/>
        </colgroup>
        <tr>
            <th>#</th> <th>@Html.DisplayNameFor(model => model.FullName)</th> <th>@Html.DisplayNameFor(model => model.Address)</th>
            <th></th>
        </tr>

        <tr id="kereso">
            <th></th>  <th>@Html.TextBox("keresnev")</th> <th>@Html.TextBox("kerescim") </th>
            <th>
                <input type="submit" value="Keress">
                <span id="betoltes" style="color:green; display: none;">Keresés...</span>
                <span id="kereseshiba" style="color:red"></span>
            </th>
        </tr>
    </table>
}
<div id="updatablelist">
    @Html.Partial("IndexListPartial", Model)
</div>

<div id="betoltespopup" style="color: green; display: none;">Betöltés...</div>

<div id="popupdiv" style="display: none;"></div>

<script type="text/javascript">
    $(document).ready(function () {
        AttachToSelectorClick();
    });

    function AttachToSelectorClick() {
        $('.selector').on('click', function (event) {
            $('.selector.selected').removeClass('selected');
            var selbutton = $(this).addClass('selected');
            var selid = selbutton.closest("tr").attr('data-itemid');
            $("#detaillist").load('@Url.Action("DetailListPartial")', { id: selid });
        });
    }
    function ClearErrors() {
        $('#kereseshiba').html('');
    }
    
    function SetError(value) {
        $('#kereseshiba').html(value.responseText);
        var row = $('#kereso');
        for (i = 0; i < 5; i++) {
            row.fadeTo('fast', 0.5).fadeTo('fast', 1.0);
        }
    }

function openPopupDialog() {
    $('#betoltespopup').dialog({
        autoOpen: true,
        width: 600,
        height: 100,
        modal: true,
        resizable: false,
        hide: {
            effect: "blind",
            duration: 300
        },
        close: function() {
        $('#popupdiv').dialog({
            autoOpen: true,
            width: 600,
            height: 'auto',
            modal: true,
            show: {
                effect: "blind",
                duration: 300
            }
            });
        }

    });
}

    function closePopup() {
        $('#betoltespopup').dialog("close");
    }

    function popupValidate() {
        return $('form').validate().form();
    }
    
    //function popupFaliture(s) {
    //    $('#editinner').html(s);
    //    alert('Valami nem kerek...');
    //}
    
    function successPopup(s) {
        if (!s || s.length === 0) {
            $('#popupdiv').dialog('close');
            $('form#adfrom').submit(); //oldal ujratöltése
        }
    }

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}