@model MvcApplication1.Models.CacheDemoModel
@{
    ViewBag.Title = "CacheTest VaryByHeader";
}

<h2>Cache próba VaryByHeader. Két böngészővel érdemes próbálni</h2>

<div>
    Pontos idő : @DateTime.Now.ToString("yyyy.MM.dd HH:mm:ss.fff")
</div>
<div id="cleareddiv" style="background-color: red"></div>

<table style="border: 1px dotted; width: 80%">
    <tr>
        <th>
            @Html.LabelFor(model => model.FullName)
        </th>
        <th>
            @Html.LabelFor(model => model.CreateTime)
        </th>
        <th>
            @Html.LabelFor(model => model.SelectTime)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.FullName)
        </td>

        <td>
            @Html.DisplayFor(model => model.CreateTime)
        </td>

        <td>
            @Html.DisplayFor(model => model.SelectTime)
        </td>
    </tr>
</table>
<br />
@Ajax.ActionLink("Cache törlése", "ClearCache",
new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "cleareddiv"
})
<br />
<br />
@Html.ActionLink("Back to the test List", "Index")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}